<html>
<head>
    <title> chatbot application home page</title>
</head>
<body>
    <h1>Welcome to the Chatbot Application 👩‍💻💫 </h1>
    <i>A chatbot is a computer program that uses artificial intelligence (AI)
        and natural language processing (NLP) to understand customer questions
        and automate responses to them, simulating human conversation1.
        Chatbots can make it easy for users to find the information they need
        by responding to their questions and requests through text input, audio 
        input, or both without the need for human intervention.Here it is only
        textual chatbot. Let's start the chat by click the link below

    </i><br><br>
    <div style="text-align:center;">
        <a href="/main">Click here to enter the query to get the response</a><br><br>
        <img src="{{ url_for('static',filename ='img/robo.jpg') }}" alt="LOGIN" width="400" height="400">
    </div>
    
</body>
</html>